[Service]
Type=simple
WorkingDirectory=/opt/antijob_bot
ExecSearchPath=%h/.local/bin:/usr/bin
ExecStartPre=pdm install --prod --no-lock --no-editable
ExecStart=pdm run antijob_bot
Restart=always

[Install]
WantedBy=multi-user.target
